@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    text-align: center;
    position: relative;
    font-family: 'Roboto';
    font-size: 18px;
    
}
#hero{
    width: 100%; 
    position: absolute;
    text-align: center; 
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.432)), url('./wood-3182655_1920.jpg') no-repeat center / cover;
    color: white;
}
.container{
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container .info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.container .info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.container .info p{
    font-size: 1.2rem;
    max-width: 60%;
}

.container .info a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
}